html {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}


@media screen and (max-width: 2500px) {
    .columnHeight {
        height: 100vh;
    }

    .bordure {
        border: ridge;
    }

    .column2 {
        padding: 50px 50px 30px 30px;
    }

    h2 {
        font-size: x-large;
        font-family: 'Lato', sans-serif;
    }

    .marginTop {
        text-align: center;
        padding-top: 10vh;
    }

    .marginTop2 {
        padding-top: 5vh;
        font-size: medium;
    }

    .marginBottom {
        padding-top: 5vh;
        padding-bottom: 20vh;
    }

    .borderCurrent {
        padding-top: 2vh 10vw;
        font-family: 'Lato', sans-serif;
        border: 5px;
        border-style: double;
        background-color: #921414;
    }

    .columnBackground {
        background-color: rgb(27, 96, 76);
        border: 2px solid black;
    }

    .column2Background {
        background-color: rgb(14, 42, 32);
    }

    #winnerOfTheGame {
        color: #921414;
        background-color: chartreuse;
    }
}

@media screen and (max-width: 576px) {
    .bordure {
        border: ridge;
        padding: 2vh 2vh 2vh 2vh;
        orientation: initial
    }

    h2 {
        font-size: 1.5em;
    }

    .marginTop2 {
        text-align: center;
        font-size: 1.5em;
    }

    .marginBottom {
        font-size: 2em;
    }

    .borderCurrent {
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        border: 10px;
        border-style: ridge;
        background-color: #921414;

    }

    .columnBackground {
        background-color: rgb(27, 96, 76);
        border: 0.5px solid black;
    }

    .column2Background {
        background-color: rgb(14, 42, 32);
    }

    #winnerOfTheGame {
        font-size: medium;
        color: #921414;
        background-color: chartreuse;
    }
}

@media screen and (max-width: 464px) {
    .bordure {
        border: ridge;
        orientation: initial
    }

    h2 {
        font-size: 10em;

    }

    .marginTop2 {
        text-align: center;
        font-size: 1em;
    }

    .marginBottom {
        font-size: 2em;
    }

    .borderCurrent {
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        border: 10px;
        border-style: ridge;
        background-color: #921414;
    }

    .columnBackground {
        background-color: rgb(27, 96, 76);
        border: 0.5px solid black;
    }

    .column2Background {
        background-color: rgb(14, 42, 32);
    }

    #winnerOfTheGame {
        font-family: 'Lato', sans-serif;
        font-size: medium;
        color: #921414;
        background-color: chartreuse;
    }
}